<center>
  <%= form_for @article, url: admin_article_path(@article) do |f| %>
    <p><%= f.label :title %><%= f.text_field :title %></p>
    <p><%= f.label :preview_text %><%= f.text_area :preview_text %></p>
    <p><%= f.label :slug %><%= f.text_field :slug %></p>
    <p><%= f.label :body %><%= f.text_area :body, size: '200x30' %></p>
    <p><%= f.submit 'Save' %></p>
  <% end %>
  <p><%= link_to 'Delete', admin_article_path(@article), method: :delete, data: { confirm: 'Are you sure?' } %></p>