<center>
  <%= form_for @article, url: admin_article_path(@article) do |f| %>
    <p><%= f.label :title %><%= f.text_field :title %></p>
    <p><%= f.label :preview_text %><%= f.text_area :preview_text %></p>
    <p><%= f.label :slug %><%= f.text_field :slug %></p>
    <p><%= f.label :body %><%= f.text_area :body, size: '200x30' %></p>
    <p><%= f.file_field :image, multiple: true %></p>
    <p><%= f.submit 'Save' %></p>
  <% end %>
  <p><%= link_to 'Delete', admin_article_path(@article), method: :delete, data: { confirm: 'Are you sure?' } %></p>
  <h2>Images</h2>
  <table border=1>
    <tr bgcolor="yellow">
      <td>ID</td>
      <td>orig</td>
      <% @sizes.each do |size| %>
        <td><%= size %></td>
      <% end %>
      <td>set main</td>
      <td>delete</td>
    </tr>
    <% @images.each do |image| %>
      <tr bgcolor="<%= 'green' if @article.main_thumb_id == image.id %>">
        <td><%= image.id %></td>
        <td><%= image_tag image.url, width: 200 %></td>
        <% @sizes.each do |size| %>
          <td><%= image_tag image.url(size), width: 100 %></td>
        <% end %>
        <td><%= link_to 'set main', admin_image_set_main_path(image, article: @article.id) %></td>
        <td><%= link_to 'delete', admin_image_path(image), method: :delete %></td>
      </tr>
      <p></p>
    <% end %>
  </table>