<h2>Add New Article</h2>
<%= form_for @article, url: admin_articles_path, method: :post do |f| %>
  <p><%= f.label :title %><%= f.text_field :title %></p>
  <p><%= f.label :body %><%= f.text_area :body %></p>
  <p><%= f.file_field :article_image, multiple: true %></p>
  <p><%= f.submit 'Add' %></p>
<% end %>