<div class="blog_wrap">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="crumbs_block">
          <div class="item_crumbs flex">
            <%= link_to 'Главная', root_path %>
            <%= link_to 'Статьи', articles_path %>
            <p><%= @article.title %></p>
          </div>
        </div>
        <div class="news keys list">
          <h3 class="m_700 black"><%= @article.title %></h3>
          <div class="foto text_c">
            <img src="img/news.jpg" alt="">
            <p class="s_14">Подпись к фото</p>
          </div>
          <div class="content_blog">
            <%= @article.body.html_safe %>
          </div>
          
          
          <div class="news_footer flex">
            <div class="like flex">
              <div><span><img src="/img/eye.png" alt=""></span>30<span></span></div>
              <div><span><img src="/img/like.png" alt=""></span>21<span></span></div>
            </div>
          </div>
          <div class="news_footer_two">
            <div class="row">
              <div class="col-4 ">
                <a href="<%= root_path %>" class="back consult">Назад</a>
              </div>
              <div class="col-8 text_r">
                <a href="#" class="consult like_this">мне нравится</a>
              </div>
            </div>
          </div>
        </div>

        <div class="coment_block">
          <% @comments.each do |comment| %>
            <div class="row">
              <div class="col-lg-1 col-sm-2">
                <img src="/img/coment.png" alt="">
              </div>
              <div class="col-lg-11 col-sm-10">
                <p class="m_700"><%= comment.name %> <span class="m_300">3 минуты назад</span></p>
                <p> <%= comment.body %></p>
              </div>
            </div>
          <% end %>
          
        </div>
        <div class="coment_form_wpapp">
          <div class="row">
            <div class="col-lg-12 coment_form">
              <%= form_for @comment, url: article_comments_path(@article) do |f| %>
                <!-- <form action="send.php" class="popupform" id="form11" method="post"> -->
                <h5>Добавить комментарий</h5>
                <%= f.text_field :name, class: 'name', placeholder: 'Ваше Имя' %>
                <!-- <input class="name" type="text" name="name" required placeholder="Введите ваше имя"> -->
                <%= f.text_area :body, placeholder: 'Комментарий' %>
                <!-- <textarea name="mess" required placeholder="Добавить комментарий"></textarea> -->
                <%= f.submit class: 'consult', value:'Добавить' %>
                <!-- <input class="consult" type="submit" value="Отправить" name="email_submit"> -->
                <input type="hidden" name="whatForm" value="Отправить">
                <!-- </form> -->
              <% end %>
            </div>
          </div>
        </div>
        <div class="more_block">
          <!-- <h3>Похожие новости</h3> -->
          <div class="row">
            <% @related.each do |article| %>
              <div class="col-sm-4">
                <div class="shadow_block">
                  <div class="item_inner">
                    <a href="<%= article_path(article, article.slug) %>">
                      <%= image_tag article.main_thumb %>
                      <div class="text_item flex">
                        <h3><%= article.title %></h3>
                        <p><%= article.created_at %></p>
                      </div>
                    </a>
                  </div>
                  <div class="text">
                    <p><%= article.preview_text %></p>
                    <%= link_to 'Далее', article_path(article, article.slug) %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>